# Ignore virtual environment directory
.venv/

# Ignore Python cache directories
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables file
.env

# Ignore PDF files
*.pdf

# Ignore other common files
*.log
*.sqlite3
.DS_Store