# Ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled files
*.pyc

# Ignore PDF files
*.pdf

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the Procfile if it's not needed in the repository
Procfile

# Ignore Streamlit secrets directory
.streamlit/